<div class="container">
<h3> Input 1 is:<%= @input1 %> </h3>
<h3> Input 2 is:<%= @input2 %> </h3>
<h3> The Winner Is:<%= @victory %> </h3>
<button type="button" class="btn btn-default navbar-btn"><a href="/form">Try Again!</a></button>
</div>